UTOMOTIVE ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK INTERCLOCKDOMAIN PATHS ;
LOCATE COMP "reset_n" SITE "H5" ;
IOBUF PORT "reset_n" IO_TYPE=LVCMOS18 ;
#-----------------------------------------------------------
# LEDs assumes the component instance name is LED & has
# a width of 4
#-----------------------------------------------------------
LOCATE COMP "LEDPIO_OUT_0_" SITE "F1" ;
LOCATE COMP "LEDPIO_OUT_1_" SITE "F2" ;
LOCATE COMP "LEDPIO_OUT_2_" SITE "F3" ;
LOCATE COMP "LEDPIO_OUT_3_" SITE "H2" ;
IOBUF PORT "LEDPIO_OUT_0_" IO_TYPE=LVCMOS18 ;
IOBUF PORT "LEDPIO_OUT_1_" IO_TYPE=LVCMOS18 ;
IOBUF PORT "LEDPIO_OUT_2_" IO_TYPE=LVCMOS18 ;
IOBUF PORT "LEDPIO_OUT_3_" IO_TYPE=LVCMOS18 ;
#-----------------------------------------------------------
# UART assumes the component instance name is uart
#-----------------------------------------------------------
LOCATE COMP "uartSIN" SITE "E12" ;
LOCATE COMP "uartSOUT" SITE "D14" ;
IOBUF PORT "uartSIN" IO_TYPE=LVCMOS18 ;
IOBUF PORT "uartSOUT" IO_TYPE=LVCMOS18 ;
BLOCK JTAGPATHS ;
LOCATE COMP "LEDPIO_OUT[0]" SITE "F4" ;
LOCATE COMP "LEDPIO_OUT[1]" SITE "G4" ;
LOCATE COMP "LEDPIO_OUT[2]" SITE "G3" ;
LOCATE COMP "LEDPIO_OUT[3]" SITE "D1" ;
