RVL_ALIAS "PIXCLK" "PIXCLK"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "LPCLK[1]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LPCLK[0]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP0[1]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP0[0]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "DCK" IO_TYPE=LVDS25E PULLMODE=NONE ;
IOBUF PORT "D0" IO_TYPE=LVDS25E PULLMODE=NONE ;
GSR_NET NET "reset_n_c_i";
FREQUENCY NET "CLKOP" 300.000000 MHz ;
FREQUENCY NET "CLKOS" 300.000000 MHz ;
FREQUENCY NET "PIXCLK_c" 25.000000 MHz ;
SYSCONFIG MASTER_SPI_PORT=DISABLE ;
FREQUENCY NET "byte_clk" 75.000000 MHz ;
LOCATE COMP "PIXCLK" SITE "E4" ;
LOCATE COMP "reset_n" SITE "B3" ;
LOCATE COMP "LP0[0]" SITE "B6" ;
LOCATE COMP "LP0[1]" SITE "A7" ;
LOCATE COMP "LPCLK[0]" SITE "C6" ;
LOCATE COMP "LPCLK[1]" SITE "C7" ;
LOCATE COMP "D0" SITE "C1" ;
LOCATE COMP "DCK" SITE "C4" ;
BLOCK JTAGPATHS ;
LOCATE COMP "LED[1]" SITE "E7" ;
LOCATE COMP "LCD_reset" SITE "B2" ;
LOCATE COMP "LCD_backlight_PWM" SITE "C3" ;
LOCATE COMP "LCD_enable_1v8" SITE "E2" ;
LOCATE COMP "LCD_enable_3v0" SITE "C2" ;
LOCATE COMP "LCD_sync" SITE "A3" ;
LOCATE COMP "LED[0]" SITE "F7" ;
