rvl_alias "interalClock" "interalClock";
RVL_ALIAS "interalClock" "interalClock"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LEDPIO_OUT[0]" SITE "E7" ;
LOCATE COMP "LEDPIO_OUT[1]" SITE "F7" ;
LOCATE COMP "reset_n" SITE "B3" ;
LOCATE COMP "SPIFlashSO" SITE "F5" ;
LOCATE COMP "SPIFlashSCK" SITE "F6" ;
LOCATE COMP "SPIFlashCEJ" SITE "G7" ;
LOCATE COMP "SPIFlashWPJ" SITE "F3" ;
BLOCK JTAGPATHS ;
LOCATE COMP "SPIFlashSI" SITE "G1" ;
