BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk_i" SITE "C2" ;
LOCATE COMP "reset_n" SITE "K2" ;
LOCATE COMP "SPIFlashCEJ" SITE "P3" ;
LOCATE COMP "SPIFlashSO" SITE "N4" ;
LOCATE COMP "SPIFlashSCK" SITE "M4" ;
LOCATE COMP "SPIFlashSI" SITE "P13" ;
LOCATE COMP "LEDPIO_OUT_3" SITE "F1" ;
LOCATE COMP "LEDPIO_OUT_2" SITE "F2" ;
LOCATE COMP "LEDPIO_OUT_1" SITE "F3" ;
LOCATE COMP "LEDPIO_OUT_0" SITE "H2" ;
