# Written by Synplify Pro version maplat, Build 1612R. Synopsys Run ID: sid1529264499 
# Top Level Design Parameters 

# Clocks 

# Virtual Clocks 

# Generated Clocks 
create_generated_clock -name {upduino_top|clk_o0_derived_clock} -add -divide_by 1 -source [get_pins {divclk[0]/C}] [get_pins {divclk[0]/Q}] 
create_generated_clock -name {upduino_top|clk_o1_derived_clock} -add -divide_by 1 -source [get_pins {divclkneg[0]/C}] [get_pins {divclkneg[0]/Q}] 
create_generated_clock -name {upduino_top|clk_gen_derived_clock[1]} -add -divide_by 1 -master_clock [get_clocks {upduino_top|clk_o0_derived_clock}] -source [get_pins {clk_gen[1]/C}] [get_pins {clk_gen[1]/Q}] 

# Paths Between Clocks 

# Multicycle Constraints 
set_multicycle_path 2 -setup -from [get_clocks {upduino_top|clk_o0_derived_clock}] -to [get_clocks {upduino_top|clk_o0_derived_clock}] 
set_multicycle_path 2 -setup -from [get_clocks {upduino_top|clk_gen_derived_clock[1]}] -to [get_clocks {upduino_top|clk_gen_derived_clock[1]}] 

# Point-to-point Delay Constraints 

# False Path Constraints 

# Output Load Constraints 

# Driving Cell Constraints 

# Input Delay Constraints 

# Output Delay Constraints 

# Wire Loads 

# Other Constraints 

# syn_hier Attributes 

# set_case Attributes 

# Clock Delay Constraints 

# syn_mode Attributes 

# Cells 

# Port DRC Rules 

# Input Transition Constraints 

# Unused constraints (intentionally commented out) 

# Non-forward-annotatable constraints (intentionally commented out) 

# Block Path constraints 

