BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LEDPIO_OUT[0]" SITE "F4" ;
LOCATE COMP "LEDPIO_OUT[1]" SITE "G4" ;
LOCATE COMP "LEDPIO_OUT[2]" SITE "G3" ;
LOCATE COMP "LEDPIO_OUT[3]" SITE "D1" ;
LOCATE COMP "reset_n" SITE "H5" ;
LOCATE COMP "uartSIN" SITE "D14" ;
LOCATE COMP "uartSOUT" SITE "C15" ;
